$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;

/* Шрифты */
$font-primary: "Roboto Condensed", "Arial", sans-serif;
$second-family: "Alumni Sans", "Tahoma", sans-serif;

/* Цвета */
$color-primary: #102654;
$color-white: #ffffff;
$color-black: #000000;
$price: #103aae;
$play-btn: rgba(237, 2, 51, 0.2);
$banners-background: #ed0233;
$dark: #030a1a;
$divider: #74819c;
$additional-accent: #103aac;
$disabled-light-grey: #d8dadf;
$primary-bg: #f8f9fc;
$grey-underline: #dedfe2;
$light: rgba(16, 38, 84, 0.5);
$tabs-state: #d10a42;
$tabs-hover: #787878;
$desc: #2e35ac;
$feature-accent-bg: #1c3374;
$swiper-text: #b6bdcc;
$price-shadow: #e8e8e8;
$tab-border: rgba(16, 38, 84, 0.2);
$tab-disabled: #c8c9cc;
$error: #ff121f;
